body {
  background: linear-gradient(45deg, #93ada3, #a995ad);
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.first,
.second,
.third {
  display: none;
  background: linear-gradient(45deg, #93ada3, #a995ad);
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1000ms ease-in-out;
}
ul,
li {
  list-style: none;
}

.userInput {
  margin-bottom: 10px;
  border-radius: 2px;
}
.chartWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2vw;
}

.goThreePage {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  align-items: flex-end;
}

h3 {
  position: absolute;
  top: 10vh;
}

.contents {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
.left,
.right {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.diaryWrapper {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
/* 스크롤 바 설정 */
.diaryWrapper::-webkit-scrollbar {
  opacity: 0;
}
/* 스크롤 바 막대 설정 */
.diaryWrapper::-webkit-scrollbar-thumb {
  background-color: lightskyblue;
  border-radius: 100px;
}

.diary {
  width: 20vw;
  height: 10vh;
  background-color: #f8facf;
  padding-left: 10%;
  line-height: 4vh;
}

/* 마지막 요소를 제외하고 margin-bottom 을 줌 */
.diary:not(:last-child) {
  margin-bottom: 2vh;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.topButton,
.bottomButton,
.diaryButton {
  display: flex;
  margin-left: auto;
}

/* 다이어리 쓰기 창 */

.modalWrapper {
  position: absolute;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  transition: all 1000ms ease-in-out;
  width: 0;
  height: 100%;
}
.modalContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.userTextarea {
  border-radius: 10px;
  box-shadow: 2px 2px 10px white;
  resize: none;
  padding: 1vw;
  max-width: 100%;
}
.userTextarea::placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.userTextarea::-webkit-scrollbar {
  opacity: 0;
}
/* 스크롤 바 막대 설정 */
.userTextarea::-webkit-scrollbar-thumb {
  background-color: rgb(171, 137, 235);
  border-radius: 100px;
}

.intensity {
  margin-bottom: 1vh;
}

.modalLayer {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

